<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>PAGE NOT FOUND</h1>
        <div class="container">
            <a href="/" target="_blank"><h2>Maybe it's on an unnassisted walkabout.</h2></a>
            <p>Or maybe it went extinct because our planet is dying. We're in the middle of a mass extinction event, y'all.</p>
        </div>
    </div>
  </div>
</div>
    
