<div class="container">
  <header><img src="/images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Create an animal profile:</h2>

    <div class="content">
      <p>Start receiving toys and enrichment for animals at your zoo by creating an account!
      After you have created your account, you can add profiles for animals you work with.</p>
    </div>
    <br>
    <div class="form" id="create_animal">
        <form name="create_animal" method="POST" action="/account/<%= @user.id %>/animals/new">
            <label for="animal[name]">Animal Name:</label>
            <input type="text" name="animal[name]" id="name" required>
            <label for="animal[species]">Species:</label>
            <input type="text" name="animal[species]" id="species" required>
            <label for="animal[bio]">Tell us about your animal:</label>
            <textarea form="create_animal" name="animal[bio]" id="bio"></textarea> <!-- not submitting with form. FIX! -->
            <input type="submit" value="Create Animal Profile">
        </form>
    </div>

    <div class="sidebar">
      <ul>
        <li><b>How does it work?</b></li>
        <li><b>Who is eligible?</b></li>
        <li><b>Does it cost anything?</b></li>
        <li><b>How many animals can I enroll?</b></li>
      </ul>
    </div>

  </div>
</div>