<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Create an Account:</h2>

    <div class="content">
      <p>Start receiving toys and enrichment for animals at your zoo by creating an account!
      After you have created your account, you can add profiles for animals you work with.</p>
    </div>
    <br>
    <div class="content" id="signup">
        <form method="POST" action="/account">
            <label for="user[first_name]">First Name:</label>
            <input type="text" name="user[first_name]" id="first_name" required><br>
            <label for="user[last_name]">Last Name:</label>
            <input type="text" name="user[last_name]" id="last_name" required><br>
            <label for="user[email]">Email:</label>
            <input type="email" name="user[email]" id="email" required><br>
            <label for="user[password]">Password:</label>
            <input type="password" name="user[password]" id="password" required><br>
            <input type="submit" value="Create Account">
        </form>
    </div>

    <div class="sidebar">
      <ul>
        <li><b>How does it work?</b></li>
        <li>You pick what toys your animal can get, visitors will donate to fund that toy!</li>
        <li><b>Who is eligible?</b></li>
        <li>Employees and volunteers working at a zoo, wildlife sanctuary, or safari park.</li>
        <li><b>Does it cost anything?</b></li>
        <li>It will always be free!</li>
        <li><b>How many animals can I enroll?</b></li>
        <li>You can enroll as many animals as you want! The more animals you enroll, the more likely 
        it is that you will recieve a toy for one of them.</li>
      </ul>
    </div>

  </div>
</div>