<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Making wildlife feel wild again.</h2>
    <div class="content">
      <p>Welcome to the very first iteration of WildHeart's Wish (name in progress, but I'm open to changing it if I hear a better suggestion). This will be the new landing page
      for <a href="https://www.thewildheartfoundation.org" target="_blank">The WildHeart Foundation</a>.</p><br>
      <p>To start, zookeepers will create an account, where they are then able to add simple profiles for the animals they work with. They can create a collection of toys that each
      animal is able to receive.</p>
      <p>In the final build, this page will include a container that displays an animal and some of its profile information. Also displayed will be a toy that visitors can choose
      to donate towards, with a progress bar showing how much is left to go (typically under $50-$100 total). Once the item is fully funded, that item is order and shipped to the animal.</p>
      <p>A new animal is then selected to be displayed along with the toy it will be receiving and the process begins again.</p>
    </div>
    <% if !logged_in?(session) %>
      <div class="sidebar">
        <h3>Login:</h3>
        <form method="POST" action="/login">
          <ul>
            <li><input type="email" name="email" placeholder="Email Address"></li>
            <li><input type="password" name="password" placeholder="Password"></li>
            <li><input type="submit" value="Login"></li>
          </ul>
        </form>
        <a href="/account/new"><i>CREATE AN ACCOUNT</i></a>
      </div>
    <% end %>
  </div>
</div>
